/.vscode
/BT1 - gpt.docx
/bt1trenlop.cpp
/bt1trenlop.exe
/bt3.3.1
/bt3.3.1.exe
/build
/Dev-Cpp 5.11 TDM-GCC 4.9.2 Setup.exe
/dientichtamgiac.cpp
/execise1.cpp
/filename.exe
/output
/test.c
/time.ipynb
/Untitled-1.c